*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
    background-color: red;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-align: bottom;
    padding: 3px;
    display: bottom;
}